
footer {
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    padding: 20px 0 120px 20px;
    background: #006666;
}

.footer {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

footer [class ^= 'footer-'] {
    width: 33.3333%;
    display: inline-block;
    text-align: center;
}

footer .footer-left {
    float: left;
}

footer .footer-right {
    float: right;
}