footer {
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    padding: 20px 0 30px 20px;
    background: #006666;
}

.footer {
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

article {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

p>a {
    text-decoration: none;
    color: #ffffff;
}

p>a:hover {
    color: darkgoldenrod;
    background-size: 100%;
}

footer h2 {
    color: #efaf0d;
    padding-bottom: 10px;
}

@media only screen and (max-width: 960px) {
    article {
        width: 30%;
    }
}

@media only screen and (max-width: 480px) {
    article {
        width: 100%;
        display: block;
        padding-bottom: 20px;
    }
}