header {
    z-index: 20;
    padding: 20px 20px 0 0;
    background: #006666;
    font-size: 22px;
}

.container {
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: Georgia;
}

.container img {
    max-width: 100%;
}

.navbar {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    min-height: 50px;
    border: 1px solid transparent;
}

ul.nav {
    text-align: center;
    display: block;
    margin: auto;
    list-style: none;
}

ul.nav > li {
    display: inline;
    padding: 10px;
    position: relative;
    color: white;
    font-size: 22px;
}

.nav>li>a {
    color: white;
    text-decoration: none;
}

.nav>li:hover {
    padding: 5px;
    margin: 5px;
    background-color: #B8860B;
    background-size: 100%;
    border-radius: 10px;
}

.logoLeft {
    position: absolute;
    top: 0;
    left: 15%;
}

.logoRight {
    position: absolute;
    top: 0;
    right: 15%;
}

@media only screen and (max-width: 1024px) {
    .logoLeft {
        left: 4%;
    }

    .logoRight {
        right: 0%;
    }


    .logoRight img {
        padding-top: 10px;
        width: 200px;
    }
}

@media only screen and (max-width: 960px) {

    .logoRight img {
        padding-top: 15px;
        width: 150px;
    }
}

@media only screen and (max-width: 768px) {
    .logoLeft {
        position: relative;
    }

    .logoRight {
        position: relative;
        float: right;
    }
}