#content {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    background: #f0f0f0;
    text-align: center;
    color:#066;
}

ul {
    list-style-type: none;
}

.li {
    font-size: 80%;
    margin: 8px;
    width: 95%;
    height: 120px;
}

.img {
    float:left;
    width: 50%;
    height: 95%;
}

label {
    position: relative;
    float: left;
    left: 10px;

}

textarea {
    border-radius:5px;
}

.comment {
    position: relative;
    float: left;
    left:65px;
    border-radius: 5px;
}

.share {
    position: relative;
    float: left;
    left:63px;
    border-radius: 5px;
}

#clips, #pics, #sketch {
    width: 32.5%;
    background: #066;
    float:left;
    margin:5px;
    font-size: 150%;
    color:#f0f0f0;
}

.jokes {
    width: 100%;
    background: white;
    display: block;
}

/* For recent browsers*/
.clear:before,
.clear:after {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
}
/* Triggers "haslayout" for IE6/7 */
.clear {
    zoom: 1;
}
@media (max-width: 767px) {
    .news {
        width: 100%;
    }
}
