#content {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 5px;
    background: #f0f0f0;
    text-align: center;
    box-sizing: border-box;
}

article {
    max-width: 32%;
    display: inline-block;
    margin: 5px;
    font-size: 150%;
    color: black;
    vertical-align: top;

}

article>div {
    max-width: 95%;
    border: 2px solid gray;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
    margin-left: auto;
    margin-right: auto;
}

article>div>p {
    padding: 5px;
}

section>article>header {
    background: white;
    color: #efaf0d;
}

h1 {
    margin: 40px auto 20px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    width: 80%;
}

h3 {
    padding-bottom: 10px;
}

.img {
    max-width: 100%;
    height: 150px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.jokes {
    max-width: 100%;
    background: white;
    display: block;
}

/* For recent browsers*/
.clear:before,
.clear:after {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
}
/* Triggers "haslayout" for IE6/7 */

@media (max-width: 767px) {
    #clips, #pics, #sketch {
        width: 100%;
        padding: 5px 0;
        margin:5px 0;
    }

    .share, .comment {
        left: 15px;
    }
}
