#content {
    width: 80%;
    margin: 0 auto;
}

.news-box {
    width: 100%;
}

.news {
    width: 33.3333333%;
    background: #f0f0f0;
    float: left;
    font: 14px/1.5 Verdana;
}

.news-body {
    margin: 10px;
    background: #ffffff;
    padding: 20px;
}

h2 {
    margin: 0;
}
.news-box .image {
    margin: 10px 0;
}
.news-box .image img{
    width: 100%;
}

.news-box .full-article {
    margin: 10px 0;
    text-align: right;
}








/* For recent browsers*/
.clear:before,
.clear:after {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
}
/* Triggers "haslayout" for IE6/7 */
.clear {
    zoom: 1;
}


@media (max-width: 767px) {
    .news {
        width: 100%;
    }
}
