
#content {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    font: 16px/1.5 Georgia, serif;
}

.news-box {
    width: 100%;
    margin-bottom: 100px;
}

.news {
    width: 33.3333333%;
    background: #f0f0f0;
    float: left;
    font-size: 0.9em;
    font-family: Verdana;
}

.news-body {
    margin: 10px;
    background: #ffffff;
    padding: 20px;
}

.time {
    display: block;
    text-align: left;
}

.short-content {
    height: 84px;
    overflow: hidden;
}


section header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    padding: 0;
    background: #fff;
}

h1 {
    padding-left: 20px;
    margin: 40px 0 20px 0;
    border-bottom: 1px solid #ccc;
}

.news-box h2 {
    color: #000 !important;
    margin: 0;
    font-size: 1.2em;
    height: 50px;
    overflow: hidden;
}

.news-box .image {
    margin: 10px 0;
}

    .news-box .image img {
        width: 100%;
    }

.news-box .full-article {
    margin: 10px 0;
    text-align: right;
}


    .news-box .full-article a,
    .back-to-list-articles a {
        border-radius: 1px;
        display: inline-block;
        padding: 8px 18px;
        text-decoration: none;
        background: #b9d0ca;
        color: #ffffff;
        transition: all 1s ease;
    }

        .news-box .full-article a:hover,
        .back-to-list-articles a:hover {
            background: #3aac90;
            transform: scale(1) rotate(-5deg) translate(5px);
        }




#news-page {
    width: 70%;
    margin: 0 auto;
}

.back-to-list-articles {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding: 10px 0;
    text-align: right;
}



/* For recent browsers*/
.clear:before,
.clear:after {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
}
/* Triggers "haslayout" for IE6/7 */
.clear {
    zoom: 1;
}
