


@media screen and (min-width: 768px) and (max-width: 800px) {
    #content {
        width: 100%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 767px) {
    #content {
        width: 100%;
        margin: 0 auto;
    }


    .news {
        width: 100%;
    }
}
