main {
    width: 60%;
    margin:0 auto;
}

main h2 {
    border-bottom: 3px solid #ccc;
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    color: black;
}

div#content main img {
    width: 80%;
}

div.register {
    text-align: center;
    padding-bottom: 20px;
}

main p {
    margin-bottom: 20px;
    padding: 0;
    text-align: justify;
    text-indent: 5%;
}

main h3, main a button {
    text-align: center;
    font-weight: bolder;
    margin-bottom:20px;
}

.register a {
    text-decoration: none;
    color: black;
}

.register a{
    background-color: #cb920d;
    color: white;
    font-size: 150%;
    margin: 5px auto 10px auto;
    padding:10px;
    border-radius: 10px;
    border: none;
}

.register a:hover {
    background-color:#066;
}

