main {
    width: 60%;
    margin:0 auto;
    font-family: Georgia, sans-serif;
}

main h2 {
    border-bottom: 1px solid #ccc;
    font-size: 2em;
    margin:1% 0;
    font-weight: bold;
    color: black;
    display: block;
}

div#content main>a {
    text-align: center;
    display: block;
}

div#content main img {
    width: 80%;
}

div.register {
    text-align: center;
    padding-bottom: 20px;
}

main p {
    margin-bottom: 20px;
    padding: 0;
    text-align: justify;
    text-indent: 5%;
}

main h3, main a button {
    text-align: center;
    font-weight: bolder;
    margin-bottom:20px;
}

.register a {
    text-decoration: none;
    color: black;
}

.register a{
    background-color: #cb920d;
    color: white;
    font-size: 150%;
    margin: 5px auto 10px auto;
    padding:10px;
    border-radius: 10px;
    border: none;
}

.register a:hover {
    background-color:#066;
}

@media screen and (max-width: 780px) {
    main h2{
        font-size: 160%;
        text-align: center;
    }
}

