main {
    width: 60%;
    margin:0 auto;
}

main h2 {
    border-bottom: 1px solid #ccc;
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    color: black;
}

div#content main img {
    width: 80%;
}

main p {
    margin-bottom: 20px;
    padding: 0;
}

main form {
    text-align: center;
    font-weight: bolder;
}

main form input {
    background-color: #cb920d;
    color: white;
    font-size: 150%;
    margin: 5px 0 10px 0;
    padding:10px;
    border-radius: 10px;
    border: none;
}

main form input:hover {
    background-color:#066;
}

