#content {
    width: 60%;
    margin: 0 auto;
}

main {
    width: 100%;
    margin-bottom: 100px;
    height: 100%;
}

main>h1 {
    margin: 40px 0 20px 0;
    border-bottom: 1px solid #ccc;
}

section>article {
    box-sizing: border-box;
    width: 47%;
    background-color: #f0f0f0;
    display: inline-block;
    border-radius: 15px;
    font: 14px/1.5 Verdana;
    padding: 20px;
    border: 1px solid #efaf0d;
    margin: 10px;
}

section>article>img {
    width: 100%;
    box-shadow: 10px 10px 10px #888888;
    border-radius: 15px;
}

section>article>h3 {
    padding-bottom: 20px;
    color: #858283;

}

section>article>p {
    padding-top: 20px;
}